<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<table class="tb_col">
    <tr>
        <th>주문한 음식</th>
        <th>배달 주소</th>
        <th>배달 주문 시간</th>
        <th>예상 배달 시간  </th>
        <th>배달 상태  </th>
    </tr>
    <tr th:each="order : ${orderList}">
        <td>
            <th:block th:each="food : ${order.foodList}">
                <h5 th:text="${food.foodName}" ></h5>
            </th:block>
        </td>
        <td th:text="${order.address}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.estimatedTime}"></td>
        <td th:if="${order.deliveredFinish == false}">
            <h5 th:text="배달중"></h5>
            <a type="button" th:href="@{/order/deliveryUpdate(orderId = ${order.id})}">배달완료로 변경</a>
        </td>
        <td th:unless="${order.deliveredFinish == false}">
            <h5 th:text="배달완료"></h5>
            <a type="button" th:href="@{/order/deliveryUpdate(orderId = ${order.id})}">배달중으로 변경</a>
        </td>
    </tr>
</table>


</body>
</html>